#version=DEVEL
# Use graphical install
graphical
# Use CDROM installation media
#cdrom
url --url=http://mirror.centos.org/centos/8-stream/BaseOS/x86_64/os/

%packages
@^server-product-environment

%end

# Keyboard layouts
keyboard --xlayouts='de (mac)'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device=ens192 --noipv6 --onboot=on
#network  --hostname=your-hostname

# Run the Setup Agent on first boot
firstboot --enable
# System services
services --enabled="chronyd"

ignoredisk --only-use=sda

clearpart --all --initlabel

autopart --type lvm --fstype=ext4

# System timezone
timezone Europe/Berlin --utc --ntpservers=0.europe.pool.ntp.org

# Setting root password
rootpw "password"

# %addon com_redhat_kdump --disable --reserve-mb='128'

# %end

# %anaconda
# pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
# pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
# pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
# %end


# %post --log=/root/ks-post.log
# echo "[ INFO ] start of the %post section with logging into /root/ks-post.log"

# echo "[ INFO ] update sshd config to allow root ssh login"
# sed -i "/^#PermitRootLogin/c\PermitRootLogin yes" /etc/ssh/sshd_config

# echo "[ INFO ] get the virtual machine name from hypervisor guestinfo"
# vmName=$(/usr/bin/vmtoolsd --cmd "info-get guestinfo.hostname")
# if [[ $? == 0  ]]; then
#   echo "${vmName}" > /etc/hostname
#   sed -i "s/localhost/${vmName}/g" /etc/hosts
# fi

# echo "[ INFO ] end of the %post section"
# %end

# reboot
