#version=DEVEL
# Use URL installation media
url --url=http://mirror.centos.org/centos/8-stream/BaseOS/x86_64/os/

# Use graphical install
# graphical

# Use text install
text

# Accept Eula
eula --agreed

%packages
@^server-product-environment

%end

# Keyboard layouts
keyboard --xlayouts='de (mac)'
# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device=ens192 --noipv6 --onboot=on
#network  --hostname=your-hostname

# Run the Setup Agent on first boot
# firstboot --enable

# System services
services --enabled="chronyd"

ignoredisk --only-use=sda

clearpart --all --initlabel

autopart --type lvm --fstype=ext4

# System timezone
timezone Europe/Berlin --isUtc --ntpservers=0.de.pool.ntp.org,1.de.pool.ntp.org,2.de.pool.ntp.org,3.de.pool.ntp.org

# Setting root password
rootpw --iscrypted "$6$sc8tPG.2Z.1vo4Yi$btGWsLYEsK.N.1vwk98iUHiw.01tIyuNthOfIu8PlZz1g/w2B6R48KwavUmmxSoBxXJMdk69/3HuvK43BhxkN/"

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --log=/root/ks-post.log
echo "[ INFO ] start of the %post section with logging into /root/ks-post.log"

user="sergeiwaigant"
echo "[ INFO ] creating user $user with root privileges and fetch pub key from github into authorized keys"
useradd --create-home -G wheel $user
echo "$user ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/$user
mkdir -p /home/$user/.ssh
curl -sfLo /home/$user/.ssh/authorized_keys github.com/$user.keys

# echo "[ INFO ] update sshd config to allow root ssh login"
# sed -i "/^#PermitRootLogin/c\PermitRootLogin yes" /etc/ssh/sshd_config

echo "[ INFO ] get the virtual machine name from hypervisor guestinfo"
vmName=$(/usr/bin/vmtoolsd --cmd "info-get guestinfo.hostname")
if [[ $? == 0  ]]; then
  echo "${vmName}" > /etc/hostname
  sed -i "s/localhost/${vmName}/g" /etc/hosts
fi

echo "[ INFO ] end of the %post section"
%end

reboot
